In [1]:
# Importing libraries
import pandas as pd
import numpy as np

In [2]:
# Reading data to Dataframes
    
data_train = pd.read_csv('data/train.csv')
data_test = pd.read_csv('data/test.csv')
data_check = pd.read_csv('data/test_result.csv')

provide our model with the numerical data only, Because we are building a simple neural network using Keras, which only understands numbers

In [3]:
#changing column name
    
data_train = data_train.rename(columns = {'Pclass' : 'TicketClass'})
data_test = data_test.rename(columns = {'Pclass' : 'TicketClass'})

In [4]:
data_train.head()

,PassengerId,Survived,TicketClass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
data_train.describe()

,PassengerId,Survived,TicketClass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [10]:
data_test.describe()

,PassengerId,TicketClass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,3.000000,76.000000,8.000000,9.000000,512.329200

dropping all those columns which are not making any difference to my dataset or they cannot be changed to numbers.

In [ ]:
#Removing unused columns

data_train = data_train.drop(['Name','Ticket','Fare','Cabin','Embarked','Age'],axis =1)
data_test = data_test.drop(['Name','Age','Ticket','Fare','Cabin','Embarked'], axis =1)

In [ ]:
data_train.head()

In [ ]:
data_test.head()

convert text ‘Sex’ into Numbers using the most powerful library Sklearn

In [ ]:
#Importing LabelEncoder from Sklearn
from sklearn.preprocessing import LabelEncoder
label_encoder_sex = LabelEncoder()

The Label Encoder will convert the text i.e Male and Female to 0 or 1.

Using slicing to select only Sex column from the dataframe

In [ ]:
# Transforming sex column values using label Encoder

data_train.iloc[:,3]  = label_encoder_sex.fit_transform(data_train.iloc[:,3])
data_test.iloc[:,2] = label_encoder_sex.fit_transform(data_test.iloc[:,2])

In [ ]:
data_train.head()

In [ ]:
data_test.head()

In [ ]:
# Arranging columns of the dataframe

data_train = data_train[['PassengerId','Sex','SibSp','Parch','TicketClass','Survived']]
data_test = data_test[['PassengerId','Sex','SibSp','Parch','TicketClass']]

In [ ]:
data_train.head()

In [ ]:
data_test.head()

split the data into inputs and outputs (Will be training our model with first 5 columns as input and 6th column as output)

In [ ]:
print(data_train.shape, data_test.shape)

In [ ]:
x_train = data_train.iloc[:,1:5]   #Inputs
y_train = data_train.iloc[:,5]     #Output (Survived)

x_test = data_test.iloc[:,1:5]    #Inputs (for prediction at the last)

In [ ]:
x_train.head()

In [ ]:
y_train.head()

In [ ]:
x_test.head()

Using Standard Scalar to normalise our data

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [ ]:
x_train

In [ ]:
x_test

Using Keras to train our model, As Keras uses TensorFlow as backend, we will be importing Sequential and Dense

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense

create object of the Sequential class

In [ ]:
classifier = Sequential()

adding layers to our classifier model, we are building a neural network with 3 layers, we have 5 inputs and 1 output

In [ ]:
#Input layer with 3 inputs neurons (same as total column of x_train)
classifier.add(Dense(output_dim = 3, init = 'uniform', activation = 'relu', input_dim = 4))
#Hidden layer
classifier.add(Dense(output_dim = 2, init = 'uniform', activation = 'relu'))
#output layer with 1 output neuron which will predict 1 or 0
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

We have added layers to our model, now its time to compile it

In [ ]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

Now we are going to provide the training data to our model so that it can learn, We are using epoch = 100, it is perfect in this case so that our model do not overfit

In [ ]:
classifier.fit(x_train, y_train, batch_size = 10, epochs = 300)

Our model is trained, Now it can predict on its own on any new situation, Lets test our model on the testing data and get all the predictions to a series.

In [ ]:
# getting predictions of test data
prediction = classifier.predict(x_test).tolist()

# list to series
se = pd.Series(prediction)

# creating new column of predictions in data_check dataframe
data_check['check'] = se
data_check['check'] = data_check['check'].str.get(0)

Let’s see how our dataframe looks like after adding a new column ‘check’ (Which are the predictions by our model)

In [ ]:
data_check

We can easily notice that, values greater then 0.5 in column (check) are actually predicted as 1, now lets write a for loop to add another column in which value ≥ 0.5 has 1 and < 0.5 has 0.

In [ ]:
series = []
for val in data_check.check:
    if val >= 0.5:
        series.append(1)
    else:
        series.append(0)
data_check['final'] = series

In [ ]:
data_check.head()

In [ ]:
match = 0
nomatch = 0
for val in data_check.values:
    if val[1] == val[3]:
        match = match +1
    else:
        nomatch = nomatch +1

In [ ]:
print(match, nomatch)

In [ ]:
result = data_check
result = result.drop(['Survived','check'],axis =1)
#result.rename(index=str, columns = {'final' : 'Survived'})
result = result.filter(['PassengerId','final'], axis=1)

result.head()
# Save the csv
result.to_csv('keras.csv')